@import "tailwindcss";

@theme {
  /*--*: initial;*/
  --color-transparent: #fff00;
  --color-black: #0e0e0e;
  --color-light: #fff;
  --color-base-gray: #696969;
  --color-light-gray: #ededed;
  --color-gray-disabled: #e0e0e0;
  --color-text-muted: #b0b0b0;
  --color-brand: #20748b;
  --color-brand-light: #69fff8;
  --color-accent-light: #b18121;
  --color-accent-dark: #71450e;
  --color-border-color: #cfcfcf;
  --color-destructive: #ff3b30;
  --color-alert: #ff0230;
  --color-modal-backdropp: #628b727a;

  /* custom sizes */
  --header-height: 80px;
  --section-pt: 40px;
  --form-card-width: 584px;
}
