@import "tailwindcss";

@utility flex-col-gap-* {
  display: flex;
  flex-direction: column;
  gap: calc((var(--spacing)) * --value(integer));
}

@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility border-rounded-s {
  border: 1px solid var(--color-border-color);
  border-radius: var(--spacing);
}
